img{
    width: 500px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1537526045572-fca8beed2a4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    color: green;
    text-align: center;
    margin-top: 100px;
    font-family: 'Hina Mincho', serif;
    font-size: 30px;
}
#sendText{
    height: 20px;
    width: 30%;
    text-align: left;
}
a:hover{
    color:yellow;
}
a{
    color:darkblue;
    font-size: 25px;
    text-decoration: none;
}
#button{
    background: teal;
    height: 30px;
    color: orange;
}

